

/*home page css previous winner section*/

.winnersection ,.nominees{
    font-family: 'Cairo', sans-serif; 
    box-sizing: border-box;

   
 
}
.winnersection .fa-clock ,p{
    color:#003459;
   
}

.winnersection .righttitle{

    float: right;
    color: #007EA7;
}


.winnersection .filtering .filter{
    display: inline-block;
    padding: 29px 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px
}
.winnersection .filtering span{
    margin: 0 5px;
    padding:8px 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
}
.winnersection .filtering .active{
    background: #00171F;
    background: linear-gradient(linear,left top, right top, from(#003459),to (#00A8E8));
    background: linear-gradient(to right, #003459,#00A8E8);
    color: white;
}
.winnersection  .items ,.items-hidden{
    position: relative;
    height: 450px;
    transition: all 0.5s;
  
    
 
}.winnersection .item1{
    height: 400px;
    position: absolute;
    margin-right: 10px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
    background-color: #fff;
    border-radius: 12px;
    transition: 0.2s all ease-out;
   
}
.winnersection .item-img{
    transition: all .4s !important;
    height: 300px !important;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  
    
}

.winnersection .img-overflow{
    overflow: hidden;
    height: 300px !important;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    transition: all 0.5s;
  
}

.winnersection .item-img-overlay{
    position: absolute;
    top:2.5px;
    left:2.5px;
    right:2.5px;
    bottom:2.5px;
    padding: 2.5px;
    background: rgba(0, 23, 31, .3);
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.5s;
    color: white;
    transition: all 0.5s;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}
.winnersection .items:hover .item-img-overlay{
    visibility: visible;
    opacity: 0.8;
}
.winnersection .items:hover .item-img{
    transform: scale(1.2,1.2);

}
.winnersection .bt-default{
    font-size: 30px;
    font-weight: 400;
 
} .winnersection .item1:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
      transform: scale(1.03, 1.03);
  }



.winnersection  .items-hidden{
    width: 100%;

}

/* =============================nominees section========================*/


.nominees  .items ,.items-hidden{
    position: relative;
    height: 400px;
    transition: all 0.5s;
    
  
    
 
}.nominees .item1{
    height: 400px;
    position: absolute;
    margin-right: 10px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 13px 10px -7px rgba(181, 202, 241, 0.2);
    background-color: #fff;
    border-radius: 12px;
    transition: all 0.5s;
}
.nominees.item-img{
    transition: all .4s !important;
    height: 300px !important;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
   
    
}

.nominees .img-overflow{
    overflow: hidden;
    height: 300px !important;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    transition: all 0.5s;
    
  
}

.nominees .item-img-overlay{
    position: absolute;
    top:2.5px;
    left:2.5px;
    right:2.5px;
    bottom:2.5px;
    padding: 2.5px;
    background: rgba(0, 23, 31, .3);
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.5s;
    transition: all 0.5s;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}
.nominees .items:hover .item-img-overlay{
    visibility: visible;
    opacity: 0.8;
}
.nominees .items:hover .item-img{
    transform: scale(1.2,1.2);

}
.nominees .bt-default{
    font-size: 25px;
    font-weight: 400;
    color:#00A8E8 !important;
    
} .nominees .item1:hover {
    box-shadow: 0px 30px 18px -8px rgba(88, 98, 117, 0.3);
    transform: scale(1.03, 1.03);
  }



.nominees  .items-hidden{
    width: 100%;

}.nominees .site{
    cursor: pointer;
}
.nominees .fa-clock {
    color:#003459;
   
}



























































/* nominees section*/
.secondheam .image-item{
    position: relative;
}
.secondheam .overlaynom{
background-color: rgba(0, 0, 0, 0.5);
position: absolute;
width: 100%;
height: 300px;
top: 0;
left: 0;
bottom:0;
right: 0;
opacity: 0;

}
.secondheam .web{
    overflow: hidden;
}
.secondheam .web:hover .overlaynom{
opacity: 1;

}

.secondheam .web:hover .web-img-top{
    transform: scale(1.1,1.1);
}


.secondheam.bt-default.white-fill {
    border-color: #fcfcfc;
    color: #202121;
    background-color: #fcfcfc;
    font-weight: 500;
}

.secondheam .bt-default {
    position: relative;
    display: inline-block;
    height: 34px;
    padding: 0 23px;
    border: 1px solid;
    border-radius: 50px;
    line-height: 34px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #A6ABAB;
    border-color: #DBE0DF;
    margin-left: 5px;
}
.secondheam #nominees{
    display: none
}

.secondheam .image-item{
    overflow: hidden;
    height: 300px;
}
.secondheam .web-img-top{
    cursor: pointer;
   
  
}
.secondheam .web-title{
    color: #003459;
}
.secondheam .web-img-top:hover{
    transform: scale(1.1,1.1);
}
.secondheam iframe:hover{
    transform: scale(1.1,1.1);
} .righttitle{
 
    width: 30%;
    float: right;
    text-align: right;
    color: #007EA7;
    
}/* load more button*/
.secondheam #load{
    display: none;
    width: 100%;
    height: 450px;
}
.secondheam.footertext{
   font-weight: 500;
    color: #003459;
}
.secondheam .nominees{
    background-image: url("../IMG/164.jpg");
    background-size: cover;
    background-position: fixed;
}